<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../assets/js/vue.js"></script>
	<link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body>
<div>v-if v-show 指令</div>
<div>v-if 判断是否加载  v-show调整css 的 display</div>

<br/>
<div id="app">
	<p v-if="ok">原来是真的</p>
	<p v-else>原来是假的</p>
	
	<p v-if="ok2">这是领完一个</p>
	
	<p v-show="ok2">这是v-show</p>
</div>
<script>
  var aaaa =new Vue({
    el:'#app',
    data:{
      ok:false,
      ok2:true
    }
  })
</script>
</body>
</html>